@import 'variables';
@import 'setOnepx';

.blank {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: $blankColor;
}

.bold {
    font-weight: 500;
}

.miui-mask {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    background: rgba(0,0,0,.6);
}

.page {
    margin-left: r(16);
    margin-right: r(16);
}
