@import 'variables';

.setTopLine {
    content: " ";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    height: 1px;
    border-top: 1px solid $borderColor;
    color: $borderColor;
    transform-origin: 0 0;
    transform: scaleY(0.5);
}

.setBottomLine {
    content: " ";
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    height: 1px;
    border-bottom: 1px solid $borderColor;
    color: $borderColor;
    transform-origin: 0 100%;
    transform: scaleY(0.5);
}